nav {
  padding:0 3rem;
}

nav ul {
  padding-top: 1rem;
  list-style-type: none;
}
.site-branding__inner{
  margin: 1.5rem;
}

#block-eyecream-site-branding{
  flex-grow: 3;
}

.reg {
  border-radius: 0.5rem;
  background-color: maroon;
  color: white;
  padding: 1rem;
}
