/*.paraStyling {
  padding-bottom: 1rem;
}*/

.layout__region--first > div:first-child{
  padding: 1.5rem;
}

.zebra-odd{
  border-radius: 1rem;
  background-color: LightGray;
}

.zebra-even{
  border-radius: 1rem;
  background-color: beige;
}
