h1, h2, h3{
/*  color: red;*/
  font-family: 'Roboto', sans-serif;
}

.layout__region .block {
  padding: 1rem 0rem;
}

.views-row {
  border-width: 0.3em 0em 0em 0em;
  border-style: solid;
  padding: 1em;
}
