/*.paraStyling {
  padding-bottom: 1rem;
}*/

.layout__region--second > div:first-child{
  padding-bottom: 1.5rem;
}

.zebra-odd{
  border-radius: 1rem;
  background-color: white;
}

.zebra-even{
  border-radius: 1rem;
  background-color: beige;
}
